@import './overwrite';

.immagine{
    width: 10rem;
}

#profilo{
    width: 3em;
}

#contenitore{
    width: 40%;
}

.leftPart{
    width: 30%;
    height: 7em;
    margin-right: 1em;
}

.rightPart{
    width: 70%;
}

.testoPiccolo{
    width: 100%;
    font-size: 0.9em;
}